@use "sass:map";
@use "colors" as *;
@use "sizes" as *;
@use "typography" as *;

@function clr($color, $shade) {
  @if map.has-key($colors, $color, $shade) {
    @return map.get($colors, $color, $shade);
  } @else {
    @error 'Color `#{$color}` does not exist.';
  }
}

@function fs($font-size) {
  @if (map.has-key($font-sizes, $font-size)) {
    @return map.get($font-sizes, $font-size);
  } @else {
    @error "$font-sizes doesn't include `#{$font-size}`.";
  }
}

@function size($size) {
  @if (map.has-key($sizes, $size)) {
    @return map.get($sizes, $size);
  } @else {
    @error "$sizes doesn't include `#{$size}`.";
  }
}
